.landingPageContainer {
    width: 100%;
    min-height: 100vh;
    &--holder {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        .warper {            
            gap: 0px !important;
            justify-items: stretch;
            width: 100%;
            max-width: var(--maxContentWidth);            
            height: fit-content;

            ul, li, strong{
                display: block;
            }
            h3{
                margin: 0 0 40px 0px;
                margin-top: 15px !important;
                margin-bottom: calc(var(--sectionSpacer) / 2) !important;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: 125%; /* 30px */
                letter-spacing: -0.36px;
            }
            .title{
                align-self: end ;
                height: 30px;
                justify-self: start; 
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 25.2px */
                letter-spacing: -0.27px;
               
            }
            
            ul {
                li, strong {
                   // width: calc(100% - 18px);
                    height: 78px;                    
                }
                p{
                    border: solid 1px #0F0F0F4D;
                    border-radius: 8px;
                    margin-bottom: 16px;  
                  //  width: calc(100% - 18px);
                    justify-content: space-between;


                    &:hover{
                        border: solid 1px #0066CC;
                        background-color: #E5F3FF;

                        &::after{
                            content: "✓";
                            border-color: #0066CC;
                            background-color: #0066CC;
                            color: white;
                        }

                    }

                    &::before{
                        margin-left: 13px;
                    }
                    &::after{
                        content: " ";
                        display: block;
                        border: solid 2px #0F0F0F4D;
                        border-radius: 4px;
                        width: 16px;
                        height: 16px;
                        margin: 0 13px 0 0;
                        padding: 0 0 0 2px;
                        line-height: 16px; 
                        font-size: 16px; 
                        font-weight: 900;  
                        float: right;                       
                                             
                    }
                    
                    span{
                        display: flex;  
                        justify-content:  center;
                        flex-direction: column ;    
                        height: 58px;    
                        width: 70%;                                       
                        strong{                           
                            display: inline;
                            height: unset;
                        }
                        i{                            
                            display: inline;
                            height: unset ;
                        }
                    }
                }



                &.--col2 {
                    display: block;  

                    gap: 0px;  
                    justify-items: center;    
                    align-content: start;          
                    grid-template-columns: 1fr 1fr;       
                    .title{
                        grid-column-end: span 2;
                    }                
                  
                }
                &.--col1 {
                    display: block;  
                    justify-items: center;               
                    grid-template-columns: 1fr;   
                    .title{
                        grid-column-end: span 1;
                    }
                 
                }
            }
        }
    }
}
