@media screen and (min-width: $desktop) {
    .landingPageContainer {
        .warper {
            display: grid !important;
            .title{                
                margin-top: 20px !important;
                margin-bottom: calc(var(--sectionSpacer) / 2) !important;
            }
            ul {
                &.--col2 {
                    display: grid;
                    gap: 0px;
                    justify-items: center;
                    align-content: start;
                    grid-template-columns: 1fr 1fr;
                    h4 {
                        grid-column-end: span 2;
                    }
                }
                &.--col1 {
                    display: grid;
                    justify-items: center;
                    grid-template-columns: 1fr;
                    align-items: start;
                    align-content: start;
                    h4 {
                        grid-column-end: span 1 ;
                    }
                }
            }
        }
    }
    
}