.button {
    display: inline-block;
    padding: var(--buttonPaddingTB) var(--buttonPaddingLR) var(--buttonPaddingTB) var(--buttonPaddingLR);
    font-size: var(--buttonFS);
    line-height: var(--buttonFS);
    font-weight: 700;
    letter-spacing: -0.015em;
    width: max-content;
    &-dark {
        background-color: $buttonDarkBGColor;
        color: $buttonDarkFONTColor;
        box-shadow: $buttonDarkBoxShadow;
        border-radius: $buttonDarkBR;
    }
    &-light {
        background-color: $buttonLightBGColor;
        color: $buttonLightFONTColor;
        box-shadow: $buttonLightBoxShadow;
        border-radius: $buttonLightBR;
    }
}

.flafIcons{
    display: flex;
    font-size: 14px !important;
    align-items: center;

    &::before{
        content: " ";
        display: block;
        min-width: 60px;
        min-height: 60px;
    }
    &--uk{
        &::before{
            background-image: url(../../../../assets/HTML/assets/images/icons/flags/uk.webp) ;
            background-position: center center;
            background-repeat: no-repeat;
        }

    }

}

.icons {
    display: block;
    width: var(--iconsSquarewh);
    height: var(--iconsSquarewh);
    background: top left no-repeat;
    background-size:  var(--iconsSquarewh) ;
    cursor: pointer;
    transition: 0.3s;

    &-navLeft {
        background-image: url(../../../../assets/HTML/assets/images/navBTN.webp) ;
    }
    &-navRight {
        background-image: url(../../../../assets/HTML/assets/images/navBTN.webp) ;
        transform: rotate(180deg);
    }

    &-openW {
        background-image: url(../../../../assets/HTML/assets/images/icons/openW.png) ;
    }
    &-closeW {
        background-image: url(../../../../assets/HTML/assets/images/icons/closeW.png) ;
    }
    &-openB {
        background-image: url(../../../../assets/HTML/assets/images/icons/openB.png) ;
    }
    &-closeB {
        background-image: url(../../../../assets/HTML/assets/images/icons/closeB.png) ;
    }
    &-searchW {
        background-image: url(../../../../assets/HTML/assets/images/icons/searchW.png) ;
    }
    &-searchB {
        background-image: url(../../../../assets/HTML/assets/images/icons/searchB.png) ;
    }

    
}

.bgColors {
    &--sectionLNormal {
        background-color: $sectionNormalBGcolor;
    }
    &--sectionLight {
        background-color: $sectionLightBGcolor;
    }
}

.box{
    &--bgColor{
        &--blue{
            background-color: $boxBlueBgColor;
        }
    }
}

.twoColMid{
    display: grid;
    gap: 0 16px;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%; 
    padding-right: 10%;
    margin-top: 20px;
    padding-bottom: 16px; 
}

.treeColMid{
    display: grid;
    gap: 0 16px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%; 
    padding-right: 10%;
    margin-top: 20px;
    padding-bottom: 16px; 
}

.fourColMid{
    display: grid;
    gap: 0 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 10%; 
    padding-right: 10%;
    margin-top: 20px;
    padding-bottom: 16px; 
}

.mhide{
    display: none;
}

@media screen and (min-width: $mobile) {
    .mhide{
        display: block;
    }
    .thide{
        display: none;
    }
}
  
@media screen and (min-width: $desktop) {
    .thide{
        display: block;
    }   
} 

