/*
$H1Dfs: 56px;
$H2Dfs: 44px;
$H3Dfs: 38px;
$H4Dfs: 32px;
$H5Dfs: 26px;
$H6Dfs: 20px;
$H7Dfs: 14px;
$H8Dfs: 8px;
*/
main {
  margin-bottom: calc(var(--gap) / 2);
}
main section .warper,
main .section .warper {
  transition: 0.5s;
  display: block;
  padding-bottom: var(--sectionSpacer);
  padding-top: var(--sectionSpacer);
  margin-left: calc(var(--spacer) * 3);
  margin-right: calc(var(--spacer) * 3);
}
main section .warper h3,
main .section .warper h3 {
  margin-top: 0;
  margin-bottom: var(--sectionSpacer);
  font-weight: 900;
}
main section .warper .articleInfo,
main .section .warper .articleInfo {
  margin-bottom: calc(var(--spacer) * 3);
}
main section .warper figure,
main .section .warper figure {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: calc(var(--spacer) * 3);
}
main section .warper figure img,
main .section .warper figure img {
  width: 100%;
  height: auto;
  aspect-ratio: auto 677/508;
}
main section .warper .articleInfo--qrCode .articleContent,
main .section .warper .articleInfo--qrCode .articleContent {
  display: none;
}
main section .warper .articleInfo--qrCode .articleContent--store p,
main .section .warper .articleInfo--qrCode .articleContent--store p {
  text-align: center;
  font-size: 14px;
  margin-bottom: calc(var(--spacer) * 3);
}
main section .warper .articleInfo--qrCode .articleContent--store figure,
main .section .warper .articleInfo--qrCode .articleContent--store figure {
  text-align: center;
}
main section .warper .articleInfo--qrCode .articleContent--store figure img,
main .section .warper .articleInfo--qrCode .articleContent--store figure img {
  max-width: 214px;
  margin: auto;
}
main section .warper .articleInfo .articleContent h4,
main .section .warper .articleInfo .articleContent h4 {
  margin-top: 0;
  margin-bottom: var(--spacer);
  font-weight: 700;
  line-height: 140%;
}
main section .warper .articleInfo .articleContent ul,
main .section .warper .articleInfo .articleContent ul {
  padding-left: 20px;
  margin-bottom: 20px;
}
main section .warper .articleInfo .articleContent ul li,
main .section .warper .articleInfo .articleContent ul li {
  font-size: 14px;
  list-style: disc;
}
main section .warper .articleInfo .articleContent P,
main .section .warper .articleInfo .articleContent P {
  font-size: 14px;
}
main section .warper .articleInfo .articleContent P:last-of-type,
main .section .warper .articleInfo .articleContent P:last-of-type {
  padding-bottom: calc(var(--spacer) * 2);
}
main section .warper .slider,
main .section .warper .slider {
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  transition: 0.5s;
  margin-bottom: calc(var(--spacer) * 3);
}
main section .warper .slider ul,
main .section .warper .slider ul {
  display: flex;
  flex-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  gap: calc(var(--spacer) * 3);
}
main section .warper .slider ul li,
main .section .warper .slider ul li {
  scroll-snap-align: start;
  width: calc(100vw - var(--spacer) * 12);
  padding-top: calc(var(--spacer) * 5);
  padding-left: calc(var(--spacer) * 3);
  padding-right: calc(var(--spacer) * 3);
  min-height: 360px;
  display: block;
  background-color: #FFF;
}
main section .warper .slider ul li.bgColors--sectionLight,
main .section .warper .slider ul li.bgColors--sectionLight {
  background-color: #F3F6F9;
}
main section .warper .slider ul li i.counter,
main .section .warper .slider ul li i.counter {
  display: block;
  width: 24px;
  height: 24px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  padding: 0;
  margin: 0 0 8px 0;
  border-radius: 12px;
  background-color: rgba(15, 15, 15, 0.1);
}
main section .warper .slider ul li p,
main .section .warper .slider ul li p {
  padding-bottom: calc(var(--spacer) * 3);
  font-size: 14px;
  line-height: 20px;
}
main section .warper--gallery .galleryItem,
main .section .warper--gallery .galleryItem {
  background-color: #f3f6f9;
  display: none;
}
main section .warper--gallery .galleryItem:first-of-type,
main .section .warper--gallery .galleryItem:first-of-type {
  display: block;
}
main section .warper--gallery .galleryItem figure,
main .section .warper--gallery .galleryItem figure {
  margin-bottom: calc(var(--spacer) * 1);
}
main section .warper--gallery .galleryItem figure figcaption,
main .section .warper--gallery .galleryItem figure figcaption {
  display: none;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  padding: var(--spacer);
}
main section .warper--gallery--five,
main .section .warper--gallery--five {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
}
main section .warper--gallery--five .galleryItem,
main .section .warper--gallery--five .galleryItem {
  display: block;
}
main section .warper--gallery--five .galleryItem figure img,
main .section .warper--gallery--five .galleryItem figure img {
  display: none;
}
main section .warper--gallery--five .galleryItem figure figcaption,
main .section .warper--gallery--five .galleryItem figure figcaption {
  display: block;
}
main section .warper--gallery--six,
main .section .warper--gallery--six {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
}
main section .warper--gallery--six .galleryItem,
main .section .warper--gallery--six .galleryItem {
  display: block;
}
main section .warper--gallery--six .galleryItem figure img,
main .section .warper--gallery--six .galleryItem figure img {
  display: none;
}
main section .warper--gallery--six .galleryItem figure figcaption,
main .section .warper--gallery--six .galleryItem figure figcaption {
  display: block;
}
main section .warper--gallery--bordered .galleryItem,
main .section .warper--gallery--bordered .galleryItem {
  padding: calc(var(--spacer) * 1);
  border-radius: 5px;
  border: solid 1px #3d3d3d;
}
main section .warper--gallery--bordered .galleryItem figure,
main .section .warper--gallery--bordered .galleryItem figure {
  padding-top: 0;
}
main section .warper--gallery--bordered .galleryItem figure figcaption,
main .section .warper--gallery--bordered .galleryItem figure figcaption {
  padding: 0;
  padding-top: calc(var(--spacer) * 1);
  padding-bottom: calc(var(--spacer) * 1);
}
main section .warper--gallery--bordered .galleryItem h4,
main .section .warper--gallery--bordered .galleryItem h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
main section .warper--gallery--bordered .galleryItem--bgColor,
main .section .warper--gallery--bordered .galleryItem--bgColor {
  background-color: #f1f2de !important;
}
main section .warper--boxGallery .galleryItem,
main .section .warper--boxGallery .galleryItem {
  border: solid 1px #c5c8ca;
  padding: var(--spacer);
  border-radius: 5px;
  margin-bottom: calc(var(--spacer) * 2);
  /*
  span{
      display: inline-block;
      padding-bottom: var(--spacer);
      margin-bottom: 0;
      p.leadLine{
      font-weight: 500;
      font-size: 14px;
      }
  }*/
}
main section .warper--boxGallery .galleryItem figure,
main .section .warper--boxGallery .galleryItem figure {
  margin-bottom: 0;
}
main section .warper--boxGallery .galleryItem figure img,
main .section .warper--boxGallery .galleryItem figure img {
  margin-bottom: 20px;
}
main section .warper--boxGallery .galleryItem h4,
main .section .warper--boxGallery .galleryItem h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.16px;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  margin-top: 0;
  margin-bottom: 0;
}
main section .warper--boxGallery .galleryItem p,
main .section .warper--boxGallery .galleryItem p {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
main section .warper--boxGallery .galleryItem p.leadLine,
main .section .warper--boxGallery .galleryItem p.leadLine {
  font-weight: 500;
  font-size: 14px;
}
main section .warper--boxGallery .box,
main .section .warper--boxGallery .box {
  display: none;
}
main section .warper .buttonHolder,
main .section .warper .buttonHolder {
  text-align: center;
  margin-top: 30px;
}
main section .warper .articleNavigation,
main .section .warper .articleNavigation {
  display: flex;
  justify-content: space-between;
}
main section.bgColors--sectionLNormal .warper--boxGallery .galleryItem, main section.bgColors--sectionLNormal .warper--gallery .galleryItem,
main .section.bgColors--sectionLNormal .warper--boxGallery .galleryItem,
main .section.bgColors--sectionLNormal .warper--gallery .galleryItem {
  background-color: #f3f6f9;
}
main section.bgColors--sectionLight .warper--boxGallery .galleryItem, main section.bgColors--sectionLight .warper--gallery .galleryItem,
main .section.bgColors--sectionLight .warper--boxGallery .galleryItem,
main .section.bgColors--sectionLight .warper--gallery .galleryItem {
  background-color: #fff;
}

@media screen and (min-width: 599px) {
  main section .warper,
  main .section .warper {
    max-width: var(--maxContentWidth);
    margin: auto;
    padding-left: calc(var(--spacer) * 3);
    padding-right: calc(var(--spacer) * 3);
  }
  main section .warper .item_4,
  main .section .warper .item_4 {
    grid-column: span 4;
  }
  main section .warper .item_5,
  main .section .warper .item_5 {
    grid-column: span 5;
  }
  main section .warper .item_6,
  main .section .warper .item_6 {
    grid-column: span 6;
  }
  main section .warper .item_7,
  main .section .warper .item_7 {
    grid-column: span 7;
  }
  main section .warper .item_8,
  main .section .warper .item_8 {
    grid-column: span 8;
  }
  main section .warper .item_12,
  main .section .warper .item_12 {
    grid-column: span 12;
  }
  main section .warper .articleInfo,
  main .section .warper .articleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main section .warper .articleInfo .articleContent h4,
  main .section .warper .articleInfo .articleContent h4 {
    margin-bottom: calc(var(--spacer) * 2);
  }
  main section .warper .articleInfo .articleContent ul li,
  main .section .warper .articleInfo .articleContent ul li {
    font-size: 16px;
  }
  main section .warper .articleInfo .articleContent p,
  main .section .warper .articleInfo .articleContent p {
    font-size: 16px;
  }
  main section .warper .articleInfo .articleContent p:last-of-type,
  main .section .warper .articleInfo .articleContent p:last-of-type {
    padding-bottom: calc(var(--spacer) * 3);
  }
  main section .warper .articleInfo--qrCode .articleContent,
  main .section .warper .articleInfo--qrCode .articleContent {
    display: flex;
    justify-content: space-between;
  }
  main section .warper .articleInfo--qrCode .articleContent--store,
  main .section .warper .articleInfo--qrCode .articleContent--store {
    display: none;
  }
  main section .warper .articleInfo--qrCode .articleContent figure,
  main .section .warper .articleInfo--qrCode .articleContent figure {
    margin-bottom: calc(var(--spacer) * 5);
  }
  main section .warper .articleInfo--qrCode .articleContent figure img,
  main .section .warper .articleInfo--qrCode .articleContent figure img {
    width: 80%;
  }
  main section .warper .slider ul li,
  main .section .warper .slider ul li {
    width: 28.5714285714vw;
  }
  main section .warper .slider ul li p,
  main .section .warper .slider ul li p {
    padding-bottom: calc(var(--spacer) * 3);
  }
  main section .warper--boxGallery--lineGrid,
  main .section .warper--boxGallery--lineGrid {
    padding-left: calc(var(--spacer) * 7);
    padding-right: calc(var(--spacer) * 7);
    gap: 0 16px;
  }
  main section .warper--boxGallery--lineGrid .galleryItem,
  main .section .warper--boxGallery--lineGrid .galleryItem {
    display: grid;
    gap: 0 16px;
    grid-template-columns: 60% 1fr;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 739px) {
  main section .warper,
  main .section .warper {
    display: grid;
    gap: 0px var(--sectionSpacer);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  }
  main section .warper .item_3,
  main .section .warper .item_3 {
    grid-column: span 3;
  }
  main section .warper figure,
  main .section .warper figure {
    margin-bottom: calc(var(--spacer) * 2);
  }
  main section .warper .articleInfo,
  main .section .warper .articleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main section .warper .articleInfo .articleContent h4,
  main .section .warper .articleInfo .articleContent h4 {
    margin-bottom: calc(var(--spacer) * 2);
  }
  main section .warper .articleInfo .articleContent P:last-of-type,
  main .section .warper .articleInfo .articleContent P:last-of-type {
    padding-bottom: calc(var(--spacer) * 3);
  }
  main section .warper .articleInfo--qrCode .articleContent,
  main .section .warper .articleInfo--qrCode .articleContent {
    display: block;
  }
  main section .warper .articleInfo--qrCode .articleContent figure,
  main .section .warper .articleInfo--qrCode .articleContent figure {
    margin-bottom: calc(var(--spacer) * 5);
  }
  main section .warper .articleInfo--qrCode .articleContent figure img,
  main .section .warper .articleInfo--qrCode .articleContent figure img {
    width: 80%;
  }
  main section .warper .slider ul li,
  main .section .warper .slider ul li {
    width: calc(var(--maxContentWidth) / 5.4);
  }
  main section .warper .slider ul li p,
  main .section .warper .slider ul li p {
    padding-bottom: calc(var(--spacer) * 3);
  }
  main section .warper--gallery,
  main .section .warper--gallery {
    gap: 0px 20px;
  }
  main section .warper--gallery .galleryItem,
  main .section .warper--gallery .galleryItem {
    display: block;
  }
  main section .warper--gallery .galleryItem figure,
  main .section .warper--gallery .galleryItem figure {
    width: 100%;
    height: auto;
  }
  main section .warper--gallery .galleryItem figure figcaption,
  main .section .warper--gallery .galleryItem figure figcaption {
    display: block;
  }
  main section .warper--gallery .buttonHolder,
  main .section .warper--gallery .buttonHolder {
    margin-top: 40px;
  }
  main section .warper--gallery--five .galleryItem figure img, main section .warper--gallery--six .galleryItem figure img,
  main .section .warper--gallery--five .galleryItem figure img,
  main .section .warper--gallery--six .galleryItem figure img {
    display: block;
  }
  main section .warper--boxGallery,
  main .section .warper--boxGallery {
    padding-left: calc(var(--spacer) * 3);
    padding-right: calc(var(--spacer) * 3);
    gap: 0 16px;
  }
  main section .warper--boxGallery .galleryItem,
  main .section .warper--boxGallery .galleryItem {
    display: block;
    /*
                            span{
                                p{
                                font-weight: 500;
                                font-size: 14px;
                                }    
                            }*/
  }
  main section .warper--boxGallery .galleryItem h4,
  main .section .warper--boxGallery .galleryItem h4 {
    font-size: 18px;
  }
  main section .warper--boxGallery .galleryItem p,
  main .section .warper--boxGallery .galleryItem p {
    font-size: 14px;
  }
  main section .warper--boxGallery .galleryItem p.leadLine,
  main .section .warper--boxGallery .galleryItem p.leadLine {
    font-weight: 500;
    font-size: 14px;
  }
  main section .warper--boxGallery .box,
  main .section .warper--boxGallery .box {
    display: grid;
  }
}
@media screen and (min-width: 1366px) {
  main section .warper--gallery div figure figcaption,
  main .section .warper--gallery div figure figcaption {
    font-size: 18px;
    line-height: 25px;
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
    padding-bottom: calc(var(--spacer) * 2);
  }
}/*# sourceMappingURL=yaraGlobal.css.map */